.section-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    background-color: white;
    background-size: cover;

    height:100vh;
    width: 100vw;
    scroll-snap-align: start;
  }

.abt {
  display: flex;
  justify-content:end;
  margin-right: 40%;
  white-space: nowrap;
}

.a-section2 {
  color: black;
  font-size: 4.8880952380952381vw;
  text-decoration: none;
  font-weight: bold;
}

.a-desc2 {
  color: gray;
  font-size: 1.8880952380952381vw;
  text-decoration: none;
  font-weight: 400;
}
  